.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
  }
  .page-loading.active {
    opacity: 1;
    visibility: visible;
  }
  .page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
  }
  .page-loading.active > .page-loading-inner {
    opacity: 1;
  }
  .page-loading-inner > span {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #737491;
  }
  .page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #766df4;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
  }
  @-webkit-keyframes spinner {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.ck-editor__editable_inline {
    min-height: 200px;
    color: #000;
}

.imagebanner {
  width: 50%;
}

.title {
  color: #000;
}

.borderBanner {
  border: 3px solid #000;
  padding: 10px;
  background-image: url("https://pngimg.com/uploads/confetti/confetti_PNG86975.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderBanner2 {
  border: 3px solid #000;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderlogin {
  border: 3px solid #000;
  padding: 10px;
}

.promotionpublish {
  border: 3px solid #000;
  padding: 10px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  margin: auto;
  width: 50%;
}

.stick {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.countdown {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.time {
  font-size: 32px;
}